.p-about {
    margin: 100px 0;
    padding: 80px 0;
    background: color('primary');

    color: color('background');
}

.p-about__title {
    margin: 0;

    @include font-size('title');
    color: color('background');
    font-weight: 700;
}

.p-about__text {
    p {
        margin: .3em 0;
        font-weight: 300;
        @include font-size('subtitle');
    }
}
