.c-btn {
    display: inline-block;

    padding: 5px 35px;
    border: 2px solid color('secondary');
    border-radius: 25px;

    background: transparent;
    color: color('secondary');

    font-size: 1rem;
    line-height: $base-line-height;

    text-decoration: none;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
        background: color('secondary');
        color: color('background');
    }
}
