.c-feature-card {
    height: 100%;
    padding: 15px 10px;

    text-align: center;

    box-shadow: 1px 1px 5px 0 color('gray');
}

.c-feature-card__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.c-feature-card__title {
    @include font-size('subtitle');
    font-weight: 300;
}
