.c-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

    li {
        padding: 10px 15px;
    }
}

.c-menu__link {
    color: color('background');
    text-transform: uppercase;

    &:active,
    &:focus,
    &:hover {
        color: color('text');
    }

}
